q{
    font-size: 1.3em;
    padding: 1em 1em 1em 1em;
    margin-top: 2EM;
}
body{
    margin: 0%;
    padding: 0%;
    /* width: 90%; */
}
header{
    background-color: rgba(0, 128, 128, 0.489);
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    flex-direction: row;
    align-items: center;
}


label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}
input,
label {
    margin: .4rem 0;
}
nav ul{
    list-style-type: none;
    display: flex;
    justify-content: flex-start ;
}
section{
    /* display: flex; */
    /* flex-basis: auto; */
    align-content: center;
}
nav ul a{
 text-decoration: none;
}
.search{
    height: 4rem;
    justify-content: center;

}
nav ul a:active{
    color: blue;
}
nav ul a:hover{
    font-weight: bold;
}
nav ul a{
    color: black;
}
main{
    display: flex;
    justify-content: space-between;
    padding: 3em;
    border-left:  3px solid blue;
    border-right:  3px solid blue;
    background-color:rgba(142, 188, 143, 0.6);


}
section:first-child{
    justify-self: center;
    
}
article{
    width: 70%; 
    flex-wrap: wrap;
    margin: 1em;
    border-right: 1px solid black;
}
aside{
    width: 15%;
    flex-wrap: wrap;
    padding-left: -45%;
}
aside img{
    width: 80%;
    padding-top: 7em;
}

footer{
    border-top: 2px solid black;
    background-color:violet;
    display: flex;
    justify-content: space-evenly;
    flex-basis: 30%;
    align-items: center  ;
}
footer ul{
    align-content: center;
    /* display: inlhhhine; */
    width: 80%;
    
    list-style-type: none;
}
footer div{
    width: 30%;
    border-right: 1px solid black;
    height:100% ;
    
}
button{
    padding:0.5em 2em 0.5em 2em;
    border: none;
    margin-top: 1em;
    background-color: darkgreen;
    text-align: center;
}
.galery ul{
    list-style-type: none;
}
.galery ul li{
    padding: 1em;
}
.galery ul li a{
    text-decoration: none;
}